
body {
    text-align: center;
    font-family: sadflix;
    color: white;
}

.form-option {
    margin-left: 15px;
    margin-right: 38px;
    margin-bottom: 20px;
    font-family: sadflix;
}

.input-form {
    border-radius: 9px;
    color: black;
    background-color: white;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    display: block;
    font-size: 14px;
    height: 20px;
    line-height: 1.42857;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    vertical-align: middle;
    width: 100%;
    font-family: sadflix;
}

.input-command {
    font-size: 18px;
    height: 28px;
    line-height: 1.33;
    padding: 10px 16px;
    color: black;
}

.input-form::-moz-placeholder {
    color: #999;
    opacity: 55;
}

.wrapper {
    padding: 0;
}

.wrapper img {
    width: 80%;
}

.buttonstyle {
    background: Transparent;
    border-radius: 19px;
    border: 6px white solid;
    color: white;
    padding: 16px 33px;
    display: inline-block;
    font-size: 33px;
    height: auto;
    font-family: sadflix;
}

#progressbarcontainer {
    background: white;
    border-radius: 19px;
    border: 9px white solid;
    display: none;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    height: 30px;
}

#progressbar {
    border-radius: 19px;
    position: absolute;
    width: 10%;
    height: 100%;
    background: #150608;
}

#progressbarlabel {
    line-height: 30px;
    text-align: center;
    color: white;
}
#main-tool {
    background: #000000;
    background: -webkit-radial-gradient(#000000, #000000);
    background: -o-radial-gradient(#000000, #000000);
    background: -moz-radial-gradient(#000000, #000000);
    background: radial-gradient(#000000, #000000);
    border-radius: 9px;
    max-width: 500px;
    margin: 20px auto 20px;
    padding: 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
